$color_text: #555;

//	pink
/*
$color_accent_1:#D75694;  //  bold / dark
$color_accent_2:#D1BBC6;
$color_accent_3:#F9F2F5;  //  pale / light
*/

//	blue
$color_accent_0:#1AAAD7;
$color_accent_1:#38B4DB;  //  bold / dark
$color_accent_2:#66CCEC;
$color_accent_3:#F4F8F9;  //  pale / light
$color_gray_1:#7E898C;

@mixin shadow{
  box-shadow:1px 2px 2px rgba(0,0,0,0.18);
}
@mixin rounded{
  border-radius: 4px;
}
@mixin left-arrow($size, $color) {
  width:0;
  height:0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: ($size * 1.4) solid $color;
  span{ display:none; }
}
@mixin right-arrow($size, $color) {
  width:0;
  height:0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: ($size * 1.4) solid $color;
  span{ display:none; }
}

$header-height:4rem;
$padding:1rem;
$max-width:500px;

html{
  font-family:'Roboto', sans-serif;
  font-size:16px;
  line-height:1.4;
}
body{
  margin:0;
  padding:0;
  background:$color_accent_3;
  text-align:center;
  color:$color_text;
}
header{
  @include shadow;
  background:$color_accent_1;
  position:fixed;
  top:0;
  left:0;
  right:0;
  height: $header-height;
  z-index:2;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height: $header-height;
}
.inner{
  position:relative;
  text-align:left;
  margin: 0 auto;
  max-width:$max-width;
  padding: 0 $padding;
  width:auto;
}
section.main{
  padding-top: $header-height;
}

h1{
  font-size:1.6rem;
}
h2{
  font-size:1.3rem;
  opacity: 0.8;
}
h3{
  font-weight:normal;
  text-transform:uppercase;
  border-bottom:1px solid $color-text;
}
a{
  color:$color_accent_0;
  &:hover, &:active{
    color:darken($color_accent_0, 10%);
  }
}


.input-row{
  margin-bottom:$padding;
  label{
    font-size:0.9rem;
    text-transform:uppercase;
    display:block;
    color:lighten($color_text, 10%);
  }
  input, textarea{
    $bg: darken($color_accent_3, 2%);
    width:280px;
    background:$bg;
    border:1px solid $bg;
    padding: 0.5rem;
    font-size:1.2rem;
    @include rounded;
    color:$color_text;
    &:focus{
      border:1px solid $color_accent_1;
      background:#fff;
      box-shadow:inset 1px 2px 2px rgba(0,0,0,0.2);
    }
  }
  textarea{
    height:8rem;
    font-size:1rem;
  }
}
select{
  font-size:1.2rem;
}
button, .button{
  background:linear-gradient(to bottom, lighten($color_accent_1, 3%), darken($color_accent_1, 1%));
  color:#fff;
  font-size:1.3rem;
  padding: (0.5 * $padding) $padding;
  border:0;
  text-decoration:none;
  @include shadow;
  @include rounded;
  &:hover, &:active{
    background:darken($color_accent_1, 5%);
    box-shadow:none;
    color:#fff;
  }
  &.small{
    font-size:1rem;
    padding: (0.2 * $padding) (0.5 * $padding);
  }
}
.error{
  margin-top: $padding;
  background:lighten($color_accent_3, 3%);
  border:2px solid $color_accent_1;
  padding: $padding;
  text-align: left;
}
.loader{
  text-align:center;
  img{
    max-width:300px;
  }
}

header{
  .logo{
    position:absolute;
    top: 1rem;
    left: $padding;
  }
  .menu{
    position:absolute;
    top: 1.5rem;
    right: $padding;
  }
}

.loginContainer{
  .toggle{
    display:inline-block;
    font-size:0.9rem;
    margin-left: 2rem;
  }
  .google{
    margin-top: $padding * 2;
    .or{
      margin-bottom: $padding * 2;
      font-size:1.3rem;
      opacity: 0.8;
    }
  }
  .blurb{
    margin-top: $padding * 4;
  }
  .googleButton{
    max-height:50px;
  }
}

.day{
  z-index:1;
  li{
    position:relative;
    background:#fff;
    list-style:none;
    padding:$padding $padding $padding (4 * $padding);
    border-bottom:1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    &.editing{
      background:transparent;
      box-shadow:none;
    }
    &:last-child.editing{
      border-bottom:none;
    }
  }
  .number{
    position:absolute;
    left: 0;
    top: $padding;
    font-size:35px;
    color:$color_accent_1;
    line-height:1;
    width:4 * $padding;
    text-align:center;
  }
  .title{
    font-size:1.2rem;
    padding-top: 0.25rem;
  }
  .details{
    opacity:0.8;
    font-size:0.9rem;
    margin-bottom:0;
  }
}
.day .nav{
  background:$color_gray_1;
  color:$color_accent_3;
  text-transform:uppercase;
  text-align:center;
  padding: 0.5rem 0;
  font-size:1.2rem;
  .inner{
    position:relative;
    text-align:center;
    .prev{
      position:absolute;
      top: 0;
      left: $padding * 1.1;
      @include left-arrow(12px, $color_accent_3);
    }
    .next{
      position:absolute;
      top: 0;
      right: $padding * 1.1;
      @include right-arrow(12px, $color_accent_3);
    }
  }
}

.settingsSection{
  margin: 1rem 0 2rem 0;
  position:relative;

  .timezone{
    opacity:0.8;
    margin-left:1rem;
    font-size:0.9rem;
  }
  .removeSubscription{
    position:absolute;
    bottom: 0;
    right: 0;
    font-size:0.9rem;
  }
}
.settingsDone{
  margin-top: 4rem;
}
