/*
$color_accent_1:#D75694;  //  bold / dark
$color_accent_2:#D1BBC6;
$color_accent_3:#F9F2F5;  //  pale / light
*/
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4; }

body {
  margin: 0;
  padding: 0;
  background: #F4F8F9;
  text-align: center;
  color: #555; }

header {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.18);
  background: #38B4DB;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 2; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem; }

.inner {
  position: relative;
  text-align: left;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 1rem;
  width: auto; }

section.main {
  padding-top: 4rem; }

h1 {
  font-size: 1.6rem; }

h2 {
  font-size: 1.3rem;
  opacity: 0.8; }

h3 {
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #555; }

a {
  color: #1AAAD7; }
  a:hover, a:active {
    color: #1486aa; }

.input-row {
  margin-bottom: 1rem; }
  .input-row label {
    font-size: 0.9rem;
    text-transform: uppercase;
    display: block;
    color: #6f6f6f; }
  .input-row input, .input-row textarea {
    width: 280px;
    background: #edf4f5;
    border: 1px solid #edf4f5;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #555; }
    .input-row input:focus, .input-row textarea:focus {
      border: 1px solid #38B4DB;
      background: #fff;
      box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.2); }
  .input-row textarea {
    height: 8rem;
    font-size: 1rem; }

select {
  font-size: 1.2rem; }

button, .button {
  background: linear-gradient(to bottom, #45b9dd, #34b2da);
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border: 0;
  text-decoration: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.18);
  border-radius: 4px; }
  button:hover, button:active, .button:hover, .button:active {
    background: #26aad3;
    box-shadow: none;
    color: #fff; }
  button.small, .button.small {
    font-size: 1rem;
    padding: 0.2rem 0.5rem; }

.error {
  margin-top: 1rem;
  background: #fefefe;
  border: 2px solid #38B4DB;
  padding: 1rem;
  text-align: left; }

.loader {
  text-align: center; }
  .loader img {
    max-width: 300px; }

header .logo {
  position: absolute;
  top: 1rem;
  left: 1rem; }

header .menu {
  position: absolute;
  top: 1.5rem;
  right: 1rem; }

.loginContainer .toggle {
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 2rem; }

.loginContainer .google {
  margin-top: 2rem; }
  .loginContainer .google .or {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    opacity: 0.8; }

.loginContainer .blurb {
  margin-top: 4rem; }

.loginContainer .googleButton {
  max-height: 50px; }

.goodThingList {
  z-index: 1; }
  .goodThingList li {
    list-style: none;
    margin-top: 1rem; }
  .goodThingList li.goodThing {
    position: relative;
    background: #fff;
    padding: 1rem 1rem 1rem 4rem;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .goodThingList li.goodThing.editing {
      background: transparent;
      box-shadow: none;
      cursor: auto; }
    .goodThingList li.goodThing:last-child.editing {
      border-bottom: none; }
  .goodThingList li.today a {
    margin-left: 1rem;
    font-size: 0.9rem; }
  .goodThingList li.dateLink {
    display: block;
    font-size: 1.4rem; }
    .goodThingList li.dateLink a {
      color: #555;
      text-decoration: none; }
  .goodThingList li.missedDays {
    background: #dde9ec;
    opacity: 0.5;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.2rem 0; }
  .goodThingList .number {
    position: absolute;
    left: 0;
    top: 1rem;
    font-size: 35px;
    color: #38B4DB;
    line-height: 1;
    width: 4rem;
    text-align: center; }
  .goodThingList .title {
    font-size: 1.2rem;
    padding-top: 0.25rem; }
  .goodThingList .details {
    opacity: 0.8;
    font-size: 0.9rem;
    margin-bottom: 0; }

.day .historyLink {
  margin-top: 1rem;
  text-align: right; }

.day .nav {
  background: #7E898C;
  color: #F4F8F9;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.2rem; }
  .day .nav .inner {
    position: relative;
    text-align: center; }
    .day .nav .inner .prev {
      position: absolute;
      top: 0;
      left: 1.1rem;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 16.8px solid #F4F8F9; }
      .day .nav .inner .prev span {
        display: none; }
    .day .nav .inner .next {
      position: absolute;
      top: 0;
      right: 1.1rem;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 16.8px solid #F4F8F9; }
      .day .nav .inner .next span {
        display: none; }

.settingsSection {
  margin: 1rem 0 2rem 0;
  position: relative; }
  .settingsSection .timezone {
    opacity: 0.8;
    margin-left: 1rem;
    font-size: 0.9rem; }
  .settingsSection .removeSubscription {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.9rem; }

.settingsDone {
  margin-top: 4rem; }

/*# sourceMappingURL=main.css.map */